<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Layout</title>
</head>
<body>
    <header>
        LogoTipo
    </header>
    <br>
    <nav>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </nav>
    <br>
    <section>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis totam temporibus non cupiditate quia libero quidem, rerum facere nostrum quam minima qui explicabo voluptate modi quisquam magnam quas quos cumque.
    </section>
    <br>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere mollitia quod voluptates cupiditate quisquam maiores velit perspiciatis optio quibusdam in repellendus unde consectetur, aut, voluptate fuga id. Sunt, voluptatibus minus!
    </article>
    <br>
    <aside>
        <img src="setup-cr.jpg" alt="Mesa de trabalho">
    </aside>
    <br>
    <footer>
        Rodapé
    </footer>
</body>
</html>